body {
    padding: 0;
    margin: 0;
}

html, body, #map {
    height: 100vh;
    width: 100vw;
}

.icon {
  width: 75%;
  height: 75%;
}

.floating {
  position: absolute;
  right: 3vw;
  bottom: 3vw;
  z-index: 9999;
}

.rounded {
  width: 6vw;
  height: 6vw;
  border-radius: 50%;
  border: none;
  text-align: center;
  outline: 0;
}

@media (max-width: 600px) {
  .floating {
    bottom: 6vw;
  }

  .rounded {
    width: 10vh;
    height: 10vh;
  }
}

.button {
  background-color: white;
  cursor: pointer;
  user-select: none;
  overflow: hidden;
}
