body {
    padding: 0;
    margin: 0;
}

html, body, #map {
    height: 100vh;
    width: 100vw;
}

.floating {
  position: absolute;
  right: 3vw;
  bottom: 3vw;
  z-index: 9999;
}

.rounded {
  width: 3vw;
  height: 3vw;
  border-radius: 50%;
  border: none;
  text-align: center;
  outline: 0;
}

.button {
  cursor: pointer;
  user-select: none;
  overflow: hidden;
}
